{% extends 'base.html' %}

{% load static %}

{%block content1 %}
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg" style="background-image:url({% static 'assets/image/how-to-improve.jpg' %})">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Student Academic Performance</p>
						<h6 class="text-white">About Academic Performance</h6>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->



	<!-- testimonail-section -->
	<div class="testimonail-section mt-80 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1 text-center">
					<div class="testimonial-sliders">
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="assets/img/avaters/avatar1.png" alt="">
							</div>
							<div class="client-meta">
								<h3>AIM AND OBJECTIVES</h3>
								<p class="testimonial-body">
									To identify other approaches of predicting students academic performance.	</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="assets/img/avaters/avatar2.png" alt="">
							</div>
							<div class="client-meta">
								<h3>AIM AND OBJECTIVES </h3>
								<p class="testimonial-body">
									 To examine the use of Artificial Neural Network in predicting students academic performance.
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="assets/img/avaters/avatar3.png" alt="">
							</div>
							<div class="client-meta">
								<h3>AIM AND OBJECTIVES</h3>
								<p class="testimonial-body">
									 To examine the mode of operation of Artificial Neural Network.
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end testimonail-section -->


	<!-- featured section -->
	<div class="feature-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-7">
					<div class="featured-text">
						<h4 class="pb-3">Why <span class="orange-text">the Prediction of Student Academic Performance</span></h4>
						<div class="row">
								<div class="list-box d-flex">
									<div class="content">
										<h3>About Student Academic Performance</h3>
										<p>The scholastic accomplishment of students in the Polytechnic is the most
											significant criterion to determine the nature of Polytechnic students.
											Studying the academic achievements of students is therefore of great
											importance for fostering student improvements and enhancing the standard
											of higher education . However, this accomplishment
											is influenced by existing student result . Usually, most higher institutions
											use the existing student result record of undergraduate students . While this
											is okay, the existing result is still influence to a degree . The quality of
											existing student result has a big influence on the next results of academic
											performance, research, and training. The principal goal of the admission framework is to decide the students who might perform well in the wake of existing results of the student in predicting of the next result.
											Hence, it is essential to analyse the academic potential of students.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end featured section -->

{%endblock%}